.token {
}

.pre-shown {
  display: none;
}

.shown {
}

.hidden {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.code-preview {
  background-color: black;
}
